<div class="user-show-container">
  <div class="user-profile">
    <div class="user-profile-pic">
    <%= image_tag("https://images.unsplash.com/photo-1503023345310-bd7c1de61c7d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OHx8bWFufGVufDB8fDB8fA%3D%3D&w=1000&q=80", class: "user-show-pic")%>
    </div>
    <div class="user-profile-options">
      <div class="user-profile-name">
      <div class="user-profile-name-edit name">
      <p><%=@user.first_name + ' ' + @user.last_name%></p>
      </div>
      <div class="user-name-edit-button">
      <%if current_user.id == @user.id%>
      <%=button_to 'edit', {controller: :users, action: :edit, id: current_user.id, from: :edit}, method: :get, remote: true, class: "user-name-edit"%>
      <%end%>
      </div>
      </div>
      <div class="user-profile-types">
      <%if current_user.id == @user.id%>
      <%=button_to (@user.private_account!=true ? 'Public Account': 'Private Account'), {controller: :users, action: :update, id: current_user.id, from: :private}, method: :patch, remote: :true, id:"user-private-account"%>
      <%=button_to 'Edit Password or Email', edit_user_registration_path, class: "user-show-pass-edit", method: :get%>
      <%else%>
      <%=button_tag 'Follow'%>
      <%end%>
      </div>
    </div>
  </div>
  <div class="user-posts">
    <%= render partial: 'home/post', collection:@posts, locals:{users: [@user], user_ids: [@user.id], signed_user: @user, likes: @likes_posts}%>
  </div>
</div>
