<div class="user-show-container">
  <div class="user-profile">
    <div class="user-profile-pic">
    <%= image_tag("https://images.unsplash.com/photo-1503023345310-bd7c1de61c7d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OHx8bWFufGVufDB8fDB8fA%3D%3D&w=1000&q=80", class: "user-show-pic")%>
    </div>
    <div class="user-profile-options">
      <div class="user-profile-name">
      <div class="user-profile-name-edit name">
      <p><%=@profile_user.first_name + ' ' + @profile_user.last_name%></p>
      </div>
      <div class="user-name-edit-button">
      <%if current_user.id == @profile_user.id%>
      <%=button_to 'edit', {controller: :users, action: :edit, id: current_user.id, from: :edit}, method: :get, remote: true, class: "user-name-edit"%>
      <%end%>
      </div>
      </div>
      <div class="user-profile-types">
      <%if current_user.id == @profile_user.id%>
      <%=button_to (@profile_user.private_account!=true ? 'Public Account': 'Private Account'), {controller: :users, action: :update, id: current_user.id, from: :private}, method: :patch, remote: :true, id:"user-private-account"%>
      <%=button_to 'Edit Password or Email', edit_user_registration_path, class: "user-show-pass-edit", method: :get%>
      <%else%>
        <div class="follow-button">
        <%request = Following.where(user_id: @profile_user.id, follower_id: @user.id).pluck%>
        <%if request.count == 0%>
        <%=button_to 'Follow', user_followings_path(@profile_user.id), class: "user-follow", method: :post, remote: true%>
        <%else%>
        <%=button_to request[0][1]=="pending" ? 'Follow request pending' : 'Following', following_path(request[0][0]), class: "user-follow", method: :delete, remote: true%>
        <%end%>
        </div>
      <%end%>
      </div>
    </div>
  </div>
  <div class="user-posts">
    <%= render partial: 'home/post', collection:@posts, locals:{users: [@profile_user], user_ids: [@profile_user.id], signed_user: @profile_user, likes: @likes_posts}%>
  </div>
</div>
