<div class="user-show-container">
  <div class="user-profile">
    <div class="user-profile-pic">
    <%default_pic = 'user.jpg'%>
    <%= image_tag("#{ @user_pic.size==0 ? default_pic : @user_pic[0].uri}", class: "user-show-pic")%>
    </div>
    <%if current_user.id == @profile_user.id%>
    <div class="change-image">
      <% profile_attachment = @profile_user.attachment%>
      <%if profile_attachment == nil%>
        <%= form_for Attachment.new ,url: {action: :create, controller: :attachments, user_id: @user.id, from: :user},  html:{class: "change-image"}, method: :post, remote: true do |form| %>
        <%= form.file_field :attachment, class: 'files-button', id:'files-button', accept: "image/*", onchange:'submit_user_form()'%>
        <%= button_tag 'Change Picture', type: :button, onClick:"file_upload()", class: 'indirect-submit'%>
        <%= form.submit 'done', class: 'display-none user-pic-form-submit'%>
        <%= hidden_field_tag :authenticity_token, value: form_authenticity_token %>
        <% end%>
      <%else%>
        <%= form_for Attachment.new ,url: {action: :update, controller: :attachments, id: profile_attachment.id, from: :user},  html:{class: "change-image"}, method: :patch, remote: true do |form| %>
        <%= form.file_field :attachment, class: 'files-button', id:'files-button', accept: "image/*", onchange:'submit_user_form()'%>
        <%= button_tag 'Change Picture', type: :button, onClick:"file_upload()", class: 'indirect-submit'%>
        <%= form.submit 'done', class: 'display-none user-pic-form-submit'%>
        <%= hidden_field_tag :authenticity_token, value: form_authenticity_token %>
        <% end%>
      <%end%>
    </div>
    <%end%>
    <div class="user-profile-options">
      <div class="user-profile-name">
      <div class="user-profile-name-edit name">
      <p><%=@profile_user.first_name + ' ' + @profile_user.last_name%></p>
      </div>
      <div class="user-name-edit-button">
      <%if current_user.id == @profile_user.id%>
      <%=button_to 'Edit', {controller: :users, action: :edit, id: current_user.id, from: :edit}, method: :get, remote: true, class: "user-name-edit"%>
      <%end%>
      </div>
      </div>
      <div class="user-profile-types">
      <%if current_user.id == @profile_user.id%>
      <%=button_to (@profile_user.private_account!=true ? 'Public Account': 'Private Account'), {controller: :users, action: :update, id: current_user.id, from: :private}, method: :patch, remote: :true, id:"user-private-account", class: 'show-button'%>
      <%else%>
        <div class="follow-button">
        <%request = Following.where(user_id: @profile_user.id, follower_id: @user.id).pluck%>
        <%if request.count == 0%>
        <%=button_to 'Follow', user_followings_path(@profile_user.id), class: "user-follow", method: :post, remote: true%>
        <%else%>
        <%=button_to request[0][1]==false ? 'Follow request pending' : 'Following', following_path(request[0][0]), class: "user-follow", method: :delete, remote: true%>
        <%end%>
        </div>
      <%end%>
      </div>
    </div>
  </div>
  <div class="user-posts">
    <%= render partial: 'home/post', collection:@posts, locals:{users: [@profile_user], user_ids: [@profile_user.id], signed_user: current_user, likes: @likes_posts,  posts_attachments: @attachments, attachments: @user_pic}%>
  </div>
</div>
