<div class="post-comment-delete-id-<%= comment.id%>">
  <div class="home-page-content-comment-user">
    <div class="user-image-comment">
      <%= render partial: 'userinfo', locals: {user: users[user_ids.find_index(comment.user_id)], partial: true}%>
    </div>
    <%if current_user.id == comment.user_id || current_user.id == post.user_id%>
    <div class="post_update_delete">
        <div class="comment-edit-<%=post.id%> edit-buttons-posts">
          <%if current_user.id == comment.user_id%>
          <%= button_to "edit", {controller: :comments, action: :edit, id: comment.id}, method: :get, remote: :true, id:"edit_button_comment_#{comment.id}"%>
          <%= button_tag "done", type: 'submit', form: "edit_comment_#{comment.id}", id:"edit_done_button_comment_#{comment.id}", class: "display-none"%>
          <%end%>
        </div>
        <%= button_to "delete", {controller: :comments, action: :destroy, id: comment.id}, method: :delete, remote: :true%>
    </div>
    <%end%>
  </div>

  <div class="home-page-content-comment-text">
    <div class="comment-body-<%=comment.id%> comment-body">
      <p><%=comment.text%></p>
      <%= form_for Comment.new ,url: {action: :update, controller: :comments, id: comment.id }, remote: true do |post_form| %>
      <%end%>
    </div>
  </div>
</div>
