<div class="home-page-content-posts home-page-content-posts-<%= post.id %>">
  <div id="home-page-content-post-<%= post.id %>" class="home-page-content-post">
    <div class="home-page-content-post-user">
      <div class="user-image-post">
        <%post_user=users[user_ids.find_index(post.user_id)]%>
        <%= render partial: 'home/userinfo', locals: {user: post_user, partial:true, attachment: attachments.find_by_attachable_id(post_user.id)}%>
      </div>
      <%if signed_user.id == post.user_id%>
      <div class="post_update_delete">
        <div class="post-edit-<%=post.id%> edit-buttons-posts">
          <%= button_to edit_post_path(post.id), method: :get, remote: :true, id:"edit_button_post_#{post.id}", class: 'post-edit-button' do%>
            <i class='fa fa-edit fa-lg'></i>
          <%end%>
          <%= button_tag type: 'submit', form: "edit_post_#{post.id}", id:"edit_done_button_post_#{post.id}", class: "display-none post-done-button" do%>
          <i class='fa fa-check fa-lg'></i>
          <%end%>
        </div>
        <%= button_to post_path(post.id), method: :delete, remote: :true, class: 'post-delete-button' do%>
          <i class='fa fa-trash fa-lg'></i>
        <%end%>
      </div>
      <%end%>
    </div>



    <div id="post-body-<%=post.id%>" class="posts-body">
      <div class="home-page-content-post-text">
        <div class="post-body-<%= post.id%> post-body">
          <p id="post-body-text-<%= post.id%>"><%= post.text%></p>
        <%= form_for Post.new ,url: {action: :update, controller: :posts, id: post.id }, method: :patch,html:{ id: "edit_post_#{post.id}", class: "form-edit display-none"}, remote: true do |post_form| %>
        <!--must copy new_post from scss file before transferring-->
        <%= post_form.text_area :text, class: "post-text-edit", value: post.text %>
        <% end%>
        <div class="post-images-div index-images-div post-images-div-<%= post.id%>">
        <div class="post-images index-images post-images-<%= post.id%>">
          <% specific_post_attachments = posts_attachments.where(attachable_id: post.id)%>
          <%= render partial: 'home/post_attachments', collection: specific_post_attachments, as: :attachment%>
        </div>
        </div>
        <div class="post-attachments-button">
        <%= form_for post.attachments.new ,url: {action: :update, controller: :attachments, id: post.id, from: :edit},  html:{class: "post-edit-attachments-#{post.id} edit_post display-none"}, method: :patch, remote: true do |post_form| %>
        <%= post_form.file_field :attachment, class: "files-button-edit-#{post.id} files-button-edit", multiple: true, id:'files-button', accept: "image/*", onchange:"getFilesEdit(#{post.id})"%>
        <%= button_tag 'Attachments', type: :button, onClick:"edit_images_upload(#{post.id})"%>
        <%= hidden_field_tag :authenticity_token, value: form_authenticity_token %>
        <% end%>
        </div>
        </div>
      </div>
    </div>



    <div class="home-page-content-post-button home-page-content-post-button-border-removed home-page-content-post-button-<%=post.id%>">
      <%like_id=Like.where(likeable_id: post.id, user_id: signed_user.id).pluck(:id)%>
      <%= form_with url: {controller: :likes, action: :create, user_id: signed_user.id}, id: "like_ajax_#{post.id}" do |form| %>
      <%= form.hidden_field :likeable_id, value: post.id, autocomplete: 'off' %>
      <%= form.hidden_field :from, value: :post, autocomplete: 'off' %>
      <% end %>
      <div id="like_buttons_<%=post.id%>">
      <%if like_id.size == 0%>
        <%= button_tag type: 'submit', form: "like_ajax_#{post.id}", id:"like_post_#{post.id}", class:"thumbs-up-like" do%>
        <i class='fa fa-thumbs-up fa-lg'></i>
        <%end%>
      <%else%>
        <%= button_to like_path(like_id[0]), method: :delete, remote: :true, id:"like_post_#{post.id}", class:"thumbs-up-liked" do%>
        <i class='fa fa-thumbs-up fa-lg'></i>
        <%end%>
      <%end%>
      </div>
      <%= form_with url: get_comments_path, id: "comments_ajax_#{post.id}" do |form| %>
      <%= form.hidden_field :commentable_id, value: post.id, autocomplete: 'off' %>
      <% end %>
      <%= button_tag onclick: "show_post_comments(#{post_iteration.index})", type: 'submit', form: "comments_ajax_#{post.id}", id:"comment_post_#{post.id}", class:'post-comments-button' do%>
      <i class='fa fa-comment fa-lg'></i>
      <%end%>
    </div>
    <div class="home-page-content-comments-div display-none">
      <div class="home-page-content-new-comment ">
        <%= form_with model: Comment.new ,url: {action: :create, controller: :comments, user_id: @user.id}, method: :post, class: 'new-comment' do |f| %>
        <!--must copy new_post from scss file before transferring-->
        <%= f.hidden_field :commentable_id, value: post.id, autocomplete: 'off' %>
        <%= f.text_area :text, class: 'comment-text' %>
        <%= f.button "Post", class:"comment-form-submit" do%>
          <span><i class="fa fa-comment post-icon"></i>  Comment</span>
        <%end%>
        <% end%>
      </div>
      <div id="home_post_comments_<%= post.id%>" class=" comment-container">
      </div>
    </div>
  </div>
</div>
