<div class="home-page-content-posts">
  <div class="home-page-content-new-post-user">
    <div class="user-image-post">
      <%= render partial: 'userinfo', locals: {user: users[user_ids.find_index(post.user_id)], partial:true}%>
    </div>
  </div>
  <div class="home-page-content-post-text">
    <div class="post-body">
      <p><%= post.text%></p>
    </div>
  </div>
  <div class="home-page-content-post-button home-page-content-post-button-border-removed">
    <%= button_tag "Like"%>
    <%= form_with url: get_comments_path, id: "comments_ajax_#{post.id}" do |form| %>
    <%= form.hidden_field :commentable_id, value: post.id, autocomplete: 'off' %>
    <% end %>
    <%= button_tag "comments", onclick: "show_post_comments(#{post_iteration.index})", type: 'submit', form: "comments_ajax_#{post.id}"%>
  </div>
  <div class="home-page-content-comments-div display-none">
    <div class="home-page-content-new-comment ">
      <%= form_with model: Comment.new ,url: {action: :create, controller: :comments, user_id: @user.id}, method: :post, class: 'new-comment' do |f| %>
      <!--must copy new_post from scss file before transferring-->
      <%= f.hidden_field :commentable_id, value: post.id %>
      <%= f.text_area :text, class: 'comment-text' %>
      <%= f.submit 'comment'%>
      <% end%>
    </div>
    <div id="home_post_comments_<%= post.id%>">
    </div>
  </div>
</div>
