<%url = attachment==nil ? 'user.jpg' : attachment.uri%>
<%if partial!=true%>
  <a class="user-name-link" href="<%= user_path(@user.id)%>">
  <%= image_tag(url, class: "user-pic")%>
  <p class="user-name"><%= @user.first_name + ' ' + @user.last_name%></p>
  </a>
<%else%>
  <a class="user-name-link" href="<%= user_path(user.id)%>">
  <%= image_tag(url, class: "user-pic")%>
  <p class="user-name"><%= user.first_name + ' ' + user.last_name%></p>
  </a>
<%end%>
