<div class="nav-bar">
  <div class="user-image">
    <%= image_tag("https://images.unsplash.com/photo-1503023345310-bd7c1de61c7d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OHx8bWFufGVufDB8fDB8fA%3D%3D&w=1000&q=80", class: "user-pic")%>
    <p class="user-name"><%= @user.first_name + ' ' + @user.last_name%></p>
  </div>
  <div class="insta-search">
    <%=text_field_tag 'search', nil, placeholder: 'Enter search term...' %>
  </div>
  <div class="insta-options">
    <%= button_to "Sign out", destroy_session_path(@user), method: :delete %></p>
  </div>
</div>
<%= button_to "Cancel my account", registration_path(@user), data: { confirm: "Are you sure?" }, method: :delete %></p>
<%= button_to "Edit", edit_registration_path(@user), method: :get %></p>
