<!DOCTYPE html>
<html>
  <head>
    <title>InstaClone</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="body" onClick="remove_content()">
    <div class="nav-bar">
  <div class="user-image">
  <a class="user-show-link" href=<%=user_path(current_user.id)%>>
  <button class="user-profile-button">
  <%attch = Attachment.where(attachable_id: current_user.id, attachable_type: 'User')%>
    <%= render partial: 'home/userinfo', locals: {user: @user, partial: false, attachment: attch.size==0 ? nil : attch.first}%>
  </button>
  </a>
  <a href="/">
  <button class="user-home-button">
    <i class="fa fa-home fa-2x" aria-hidden="true"></i>
  </button>
  </a>
  <a href="<%=user_followings_path(@user.id)%>">
  <button class="user-home-button">
    <i class="fa fa-user-plus fa-2x" aria-hidden="true"></i>
    <div class="notify">
    <% requests = Following.where(user_id: @user.id, request_accepted: false).count%>
    <% if requests!=0%>
      <svg height="30" width="30" class="notify-icon">
        <circle cx="15" cy="15" r="10" stroke-width="0" fill="red" />
        <text x="<%=requests < 10 ? '11' : '8'%>" y="19" style="fill:white;">
        <%= requests>9 ? '9+' : requests%>
        </text>
      </svg>
    <%end%>
    </div>
  </button>
  </a>
  </div>
  <div class="insta-search">
    <%= search_form_for @q, url: '/search', class: "search-form", remote: true do |f| %>
    <%= f.search_field :first_name_or_last_name_cont, oninput: "submit_search()", autocomplete: :off, class: "search-field", placeholder: "search user" %>
    <%= f.submit 'submit', class: "submit_search display-none"%>
    <% end %>
    <div class="found-users">
    </div>
  </div>
  <div class="insta-options">
  <button class="user-gear-button" onClick="show_options()">
    <i class="fa fa-gear fa-2x" aria-hidden="true"></i>
  </button>
  <div class="gear-options-container display-none">
  <div class="gear-options">
    <%= button_to "Sign out", destroy_session_path(@user), method: :delete, class:"gear-option", form_class: "gear-option-form" %>
    <%= button_to "Delete Account", registration_path(@user), data: { confirm: "Are you sure?" }, method: :delete, class:"gear-option", form_class: "gear-option-form" %>
    <%= button_to "Edit Account", edit_registration_path(@user), method: :get, class:"gear-option", form_class: "gear-option-form" %>
  </div>
  </div>
  </div>
</div>
<%= yield%>

  </body>
</html>
