<!DOCTYPE html>
<html>
  <head>
    <title>InstaClone</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="nav-bar">
  <div class="user-image">
  <a class="user-show-link" href=<%=user_path(current_user.id)%>>
  <button class="user-profile-button">
    <%= render partial: 'home/userinfo', locals: {user: @user, partial: false}%>
  </button>
  </a>
  <a href="/">
  <button class="user-home-button">
    <i class="fa fa-home fa-2x" aria-hidden="true"></i>
  </button>
  </a>
  <a href="<%=user_followings_path(@user.id)%>">
  <button class="user-home-button">
    <i class="fa fa-user-plus fa-2x" aria-hidden="true"></i>
    <div class="notify">
    <svg height="30" width="30" class="notify-icon">
      <circle cx="15" cy="15" r="10" stroke-width="0" fill="red" />
      <text x="8" y="19" style="fill:white;">9+</text>
    </svg>
    </div>
  </button>
  </a>
  </div>
  <div class="insta-search">
    <%=text_field_tag 'search', nil, placeholder: 'Enter search term...' %>
  </div>
  <div class="insta-options">
    <%= button_to "Sign out", destroy_session_path(@user), method: :delete %></p>
  </div>
</div>
<%= yield%>

  </body>
</html>
